<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title"><%=title%></p>
    <p class="subtitle">
      <div class="buttons">
        
        <a class="button is-primary" href="/views/showUser">
          <strong><%=text%></strong>
        </a>
      
      </div>
    </p>
  </div>
</section>
